@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to F1 Facts & Furious</h1>
</div>
<img src="https://cdn.i.haymarketmedia.asia/?n=campaign-asia%2fcontent%2fcroppedF1logo.png&h=570&w=855&q=100&v=20170226&c=1" 
        alt="F1Logo" class="center">
